<!--<!DOCTYPE html>

<html>
    <h1>Article Show</h1>
    <h1><%= @article.title %></h1>
    <!--<h1><%= link_to @article.title, @article %></h1>-->
    <!--
    <div><%= @article.body.html_safe %></div>
    <br/>
    <small><%= @article.created_at.strftime("%d %b %Y") %></small>
    <br/>
    <%= link_to "Edit Post", edit_article_path %>
</html>-->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Single Post | Meghna - Responsive Multipurpose Parallax Theme</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <%= stylesheet_link_tag "mn-font-awesome.min.css" %>
	    <%= stylesheet_link_tag "mn-bootstrap.min.css" %>
	    <%= stylesheet_link_tag "mn-animate.css" %>
	    <%= stylesheet_link_tag "mn-owl.carousel.css" %>
	    <%= stylesheet_link_tag "mn-main.css" %>
	    <%= stylesheet_link_tag "mn-responsive.css" %>
	    <%= stylesheet_link_tag "mn-custom.css" %>
		<!--
		Google Font
		=========================== -->                    
		
		<!-- Titillium Web -->
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200' rel='stylesheet' type='text/css'>
		<!-- Source Sans Pro -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
		<!-- Oswald -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
		<!-- Raleway -->
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		
		<!-- Modernizer Script for old Browsers -->
        <%= javascript_include_tag('mn-modernizr-2.6.2.min.js') %>

    </head>
	
    <body class="blog-page">

    	<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=238169203048814";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
	    <!--
	    Start Preloader
	    ==================================== -->
		<!--<div id="loading-mask">
			<div class="loading-img">
				<%= image_tag("preloader.gif") %>
			</div>
		</div>-->
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<%= image_tag("logo-madexplorers.png") %>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html#about">About Us</a></li>
                        <li><a href="index.html#services">Services</a></li>
                        <li><a href="index.html#our-team">Team</a></li>
                        <li><a href="index.html#pricing">Pricing</a></li>
                        <li><a href="index.html#showcase">Portfolio</a></li>
                        <li><a href="index.html#blog">Blog</a></li>
                        <li><a href="index.html#contact-us">Contact</a></li>
                    </ul>

                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                       
                        <div class="blog-icon">
                            <i class="fa fa-book fa-4x"></i>
                        </div>
                        <div class="blog-title">
                            <h1><%= @article.title %></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-8 col-sm-8">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
                                    <a href="single-post.html">
										<!--<img src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">-->
										<%= image_tag(@article.bannerimage, :class=>"img-responsive bannerimage")%>
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">Post with featured image</a></h3>
									
									<!--
									<p>Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh. Consectetuer porttitor feugiat vestibulum sit feugiat, voluptates dui eros libero. Etiam vestibulum at lectus. Donec vivamus. Vel donec et scelerisque vestibulum. Condimentum aliquam, mollit magna velit nec, tempor cursus vitae sit aliquet neque purus. Ultrices lacus proin conubia dictum tempus,</p>-->

									<p><%= @article.body.html_safe %></p>
								
									<blockquote>
										<p><%= @article.teaser %></p>
									</blockquote>
									<!--
									<p><%= @article.body.html_safe %></p>-->

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i><%= @article.created_at.strftime("%d %b %Y") %>
									</span>
									<span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span>
									<span class="post-view">
										<i class="fa fa-eye"></i>265 Views
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="#">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="#">Web Design</a>, <a href="#">Development</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>Previous Post
                                </a>
                                <a href="" class="next-post pull-right">
                                    Next Post<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>
                            <div class="author-about clearfix">
                                <h4>About Jhon Doe</h4>
                                <div class="post-author pull-left">
                                    <img src="img/blog/avatar.png" alt="">
                                </div>
                                <div class="author-bio">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae modi quisquam laboriosam, expedita ea natus tempora unde sed sequi velit, quia veniam libero quos sunt.</p>
                                    <h5>Follow The Author</h5>
									<div class="social-profile">
										<ul>
											<li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
										</ul>
									</div>
                                </div>

                                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="3"></div>
                                
                            </div>
                        </div>
                    </div>

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
		
		<!-- Back to Top
		============================== -->
		<a href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
        <%= javascript_include_tag('mn-jquery-1.11.0.min.js') %>
        <%= javascript_include_tag('mn-bootstrap.min.js') %>
		<%= javascript_include_tag('mn-jquery.scrollUp.min.js') %>
        <%= javascript_include_tag('mn-owl.carousel.min.js') %>
        <%= javascript_include_tag('mn-jquery.nicescroll.min') %>
        <%= javascript_include_tag('mn-jquery.easing-1.3.pack.js') %>
        <%= javascript_include_tag('mn-wow.min.js') %>
        <%= javascript_include_tag('mn-jquery.fitvids.js') %>
        <%= javascript_include_tag('mn-custom.js') %>
        

    </body>
</html>