<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Meghna | Responsive Multipurpose Parallax HTML5 Template</title>

    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "mn-font-awesome.min.css" %>
    <%= stylesheet_link_tag "mn-bootstrap.min.css" %>
    <%= stylesheet_link_tag "mn-animate.css" %>
    <%= stylesheet_link_tag "mn-owl.carousel.css" %>
    <%= stylesheet_link_tag "mn-component.css" %>
    <%= stylesheet_link_tag "mn-slit-slider.css" %>
    <%= stylesheet_link_tag "mn-main.css" %>
    <%= stylesheet_link_tag "mn-media-queries.css" %>

    <!--
    Google Font
    =========================== -->                    
    
    <!-- Oswald / Title Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <!-- Ubuntu / Body Font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

    <!-- Modernizr JS -->
    <%= javascript_include_tag('mn-modernizr-2.6.2.min.js') %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', '', 'auto');
      ga('send', 'pageview');
    
    </script>
    
  </head>

  <body id="body">

        <div id="loading-mask">
          <div class="loading-img">
            <%= image_tag("preloader.gif") %>
          </div>
        </div>

        <section id="home">     
        
          <div id="slitSlider" class="sl-slider-wrapper">
            <div class="sl-slider">
              
              <!-- single slide item -->
              <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                  <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/f0mV16tJTZk?rel=0?controls=0&amp;autoplay=1&amp;showinfo=0&amp;start=46&amp;end=60&amp;loop=1" frameborder="0" allowfullscreen></iframe>-->
                  <div class="bg-img bg-img-1"></div>
                <div class="carousel-caption">
                  <div>
                    <!--<img class="wow fadeInUp" src="img/madexplorers.png" alt="Meghna">-->
                    <%= image_tag("madexplorers.png", :class=>"wow fadeInUp")%>
                    <h2 data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">GO WHERE YOUR HEART TAKES YOU</h2>
                  </div>
                </div>
                </div>
              </div>
              <!-- /single slide item -->
              
              <!-- single slide item -->
              <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner">
                  <div class="bg-img bg-img-2"></div>
                <div class="carousel-caption">
                  <div>
                    <h2 class="heading animated fadeInDown">Highly Responsive</h2>
                    <h3 class="animated fadeInUp">With all Mejor Browser support including IE 9</h3>
                    <a class="btn btn-green animated fadeInUp" href="#">Get Started</a>
                  </div>
                </div>
                </div>
              </div>
              <!-- /single slide item -->
              
              <!-- single slide item -->
              <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                  <div class="bg-img bg-img-3"></div>
                <div class="carousel-caption">
                  <div>
                    <h2 class="heading animated fadeInRight">One Page Parallax HTML Template</h2>
                    <h3 class="animated fadeInLeft">Clean and Professional Design</h3>
                    <a class="btn btn-green animated fadeInUp" href="#">Learn More</a>
                  </div>
                </div>
                </div>
              </div>
              <!-- /single slide item -->

            </div><!-- /sl-slider -->
            
            <nav id="nav-arrows" class="nav-arrows">
              <span class="nav-arrow-prev">Previous</span>
              <span class="nav-arrow-next">Next</span>
            </nav>

            <nav id="nav-dots" class="nav-dots">
              <span class="nav-dot-current"></span>
              <span></span>
              <span></span>
            </nav>

          </div><!-- /slider-wrapper -->
        </section>
        <!--/#home section-->
    
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#body">
                      <h1 id="logo">
                        <%= image_tag("logo-madexplorers.png") %>
                      </h1>
                    </a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Home</a></li>
                        
                        <!--<li><a href="#services">Services</a></li>-->
                        <li><a href="#showcase">Articles</a></li>
                        <!--<li><a href="#our-team">Team</a></li>-->
                        <!--<li><a href="#pricing">Pricing</a></li>-->
                        <li><a href="#blog">Latest</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#contact-us">Contact</a></li>
                        
                    </ul>
                </nav> 
            </div>
        </header>
        <!--
        Start Main Features
        ==================================== -->
        <section id="main-features">
          <div class="container">
            <div class="row">
              
              <!-- features item -->
              <div id="features">
                <div class="item">
                  
                  <div class="features-item">
                    
                    <!-- features media -->
                    <div class="col-md-6 feature-media media-wrapper wow fadeInUp" data-wow-duration="500ms">
                      <!--<iframe src="http://player.vimeo.com/video/108018156" allowfullscreen></iframe>-->
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/f0mV16tJTZk" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <!-- /features media -->
                    
                    <!-- features content -->
                    <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                      <h3>Main Features of Meghna</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                      <a href="#" class="btn btn-transparent">Learn More</a>
                      <a href="#" class="btn btn-transparent">Purchase Theme</a>
                    </div>
                    <!-- /features content -->
                    
                  </div>
                </div>
                
                <div class="item">
                  <div class="features-item">
                  
                    <!-- features media -->
                    <div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
                      <!--<img src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">-->
                      <%= image_tag("3D-beach-art.jpg", :class=>"img-responsive")%>
                    </div>
                    <!-- /features media -->
                    
                    <!-- features content -->
                    <div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                      <h3>Main Features of Meghna</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
                      <a href="#" class="btn btn-transparent">Learn More</a>
                      <a href="#" class="btn btn-transparent">Purchase Theme</a>
                    </div>
                    <!-- /features content -->
                    
                  </div>
                </div>
              </div>
              <!-- /features item -->
              
            </div>    <!-- End row -->
          </div>    <!-- End container -->
        </section>   <!-- End section -->
      
        <!-- Start Portfolio Section
        =========================================== -->
        
        <section id="showcase">
          <div class="container">
            <div class="row wow fadeInDown" data-wow-duration="500ms">
              <div class="col-lg-12">
              
                <!-- section title -->
                <div class="title text-center">
                  <h2>What's your kind of <span class="color">Travel</span></h2>
                  <div class="border"></div>
                </div>
                <!-- /section title -->
              
                <!-- portfolio item filtering -->
                <div class="portfolio-filter clearfix">
                  <ul class="text-center">
                  
                      <li><a href="javascript:void(0)" class="filter" data-filter="all">All</a></li>
                  <!--
                      <li><a href="javascript:void(0)" class="filter" data-filter=".app">Crazy</a></li>
                      <li><a href="javascript:void(0)" class="filter" data-filter=".web">Out of this World</a></li>
                      <li><a href="javascript:void(0)" class="filter" data-filter=".photoshop">Sedentary</a></li>
                      <li><a href="javascript:void(0)" class="filter" data-filter=".illustrator2">Gluttony</a></li>
                  -->
                      <% all_types.each do |type| %>
                          <li><a href="javascript:void(0)" class="filter" data-filter=".<%= type.id %>"><%= type.name %></a></li>
                      <% end %>
                  </ul>
                </div>
                <!-- /portfolio item filtering -->
                
              </div> <!-- /end col-lg-12 -->
            </div> <!-- end row -->
          </div>  <!-- end container -->
      
          <!-- portfolio items -->
          <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
                    <ul id="og-grid" class="og-grid">
            
              <!-- single portfolio item -->  
              <li class="mix 1">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Azuki bean</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 2">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Veggies sunt bona vobis</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 3">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Dandelion horseradish</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 4">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Dandelion horseradish</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 5">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Azuki bean</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 6">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Veggies sunt bona vobis</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>  
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 7">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Dandelion horseradish</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>  
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 8">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Azuki bean</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 1">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Veggies sunt bona vobis</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 2">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Veggies sunt bona vobis</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>  
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 3">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Dandelion horseradish</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->
              
              <!-- single portfolio item -->
              <li class="mix 6">
                <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                  <!--<img src="img/portfolio/portx1.jpg" alt="Meghna">-->
                  <%= image_tag("portx1.jpg")%>
                  <div class="hover-mask">
                    <h3>Azuki bean</h3>
                    <span>
                      <i class="fa fa-plus fa-2x"></i>
                    </span>
                  </div>
                </a>
              </li>
              <!-- /single portfolio item -->

              <% all_articles.each do |article| %>
                <li class="mix <%= article.type_id %>">
                  <a href="javascript:void(0)" data-largesrc="img/portfolio/portx1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    
                    <%= image_tag("portx1.jpg")%>
                    <div class="hover-mask">
                      <h3><%= article.title %></h3>
                      <span>
                        <i class="fa fa-plus fa-2x"></i>
                      </span>
                    </div>
                  </a>
                </li>
              <% end %> 
              
              
            </ul> <!-- end og grid -->
          </div>  <!-- portfolio items wrapper -->
        </section>   <!-- End section -->
      
        <!--
        Start Blog Section
        =========================================== -->
            
        <section id="blog" class="bg-one">
          <div class="container">
            <div class="row">

              <!-- section title -->
              <div class="title text-center wow fadeInDown">
                <h2><span class="color">Get out</span> of here</h2>
                <div class="border"></div>
              </div>
              <!-- /section title -->

              <div class="clearfix">
              


                <% all_types.each do |type| %>
                  <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="note">
                      <div class="media-wrapper">
                        <%= link_to type_path(:id => type.id) do%>
                          <%= image_tag(type.image, :class=>"img-responsive")%>
                        <% end %>
                      </div>
                    </div>
                    <div class="excerpt">
                      <h3><%= type.name %></h3>
                      <p><%= type.name %></p>

                    </div>
                  </article>
                <% end %> 
                

              </div>

              <div class="all-post text-center">
                <a class="btn btn-transparent" href="blog.html">View All Post</a>
              </div>

            </div> <!-- end row -->
          </div> <!-- end container -->
        </section> <!-- end section -->

            <!--
        Start About Section
        ==================================== -->
        <section id="about" class="bg-one">
          <div class="container">
            <div class="row">
            
              <!-- section title -->
              <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                <h2>About <span class="color">Us</span></h2>
                <div class="border"></div>
              </div>
              <!-- /section title -->
              
              <!-- About item -->
              <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
                <div class="wrap-about">              
                  <div class="icon-box">
                    <i class="fa fa-lightbulb-o fa-4x"></i>
                  </div>          
                  <!-- Express About Yourself -->
                  <div class="about-content text-center">
                    <h3 class="ddd">We're Creative</h3>               
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                  </div>
                </div>
              </div> 
              <!-- End About item -->
              
              <!-- About item -->
              <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="wrap-about">
                  <div class="icon-box">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <!-- Express About Yourself -->
                  <div class="about-content text-center">
                    <h3>We're Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                  </div>
                </div>
              </div> 
              <!-- End About item -->
              
              <!-- About item -->         
              <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="wrap-about kill-margin-bottom">
                  <div class="icon-box">
                    <i class="fa fa-users fa-4x"></i>
                  </div>
                  <!-- Express About Yourself -->
                  <div class="about-content text-center">
                    <h3>We're Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                  </div>
                </div>
              </div> 
              <!-- End About item -->
              
            </div>    <!-- End row -->
          </div>    <!-- End container -->
        </section>   <!-- End section -->

        <!-- Start Twitter Feed
        =========================================== -->
        
        <section id="twitter-feed" class="parallax-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
              
                <!-- twitter bird -->
                <div class="twitter-bird wow fadeInDown" data-wow-duration="500ms">
                  <span>
                    <i class="fa fa-twitter fa-4x"></i>
                  </span>
                </div>
                <!-- /twitter bird -->
                
                <!-- fetching tweet -->
                <div class="tweet wow fadeIn" data-wow-duration="2000ms"></div>
                <!-- /fetching tweet -->
                
                <!-- follow us button -->
                <a href="https://twitter.com/amimorshed" title="Follow Us" target="_blank" class="btn btn-transparent wow fadeInUp" data-wow-duration="500ms">Follow Us</a>           
                <!-- /follow us button -->
                
              </div>
            </div>       <!-- End row -->
          </div>    <!-- End container -->
        </section>   <!-- End section -->
      
        
        <!-- Srart Contact Us
        =========================================== -->   
        <section id="contact-us">
          <div class="container">
            <div class="row">
              
              <!-- section title -->
              <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Get In <span class="color">Touch</span></h2>
                <div class="border"></div>
              </div>
              <!-- /section title -->
              
              <!-- Contact Details -->
              <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>Contact Details</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero, provident, eum eligendi blanditiis ex explicabo vitae nostrum facilis asperiores dolorem illo officiis ratione vel fugiat dicta laboriosam labore adipisci.</p>
                <div class="contact-details">
                  <div class="con-info clearfix">
                    <i class="fa fa-home fa-lg"></i>
                    <span>Khaja Road, Bayzid, Chittagong, Bangladesh</span>
                  </div>
                  
                  <div class="con-info clearfix">
                    <i class="fa fa-phone fa-lg"></i>
                    <span>Phone: +880-31-000-000</span>
                  </div>
                  
                  <div class="con-info clearfix">
                    <i class="fa fa-fax fa-lg"></i>
                    <span>Fax: +880-31-000-000</span>
                  </div>
                  
                  <div class="con-info clearfix">
                    <i class="fa fa-envelope fa-lg"></i>
                    <span>Email: hello@meghna.com</span>
                  </div>
                </div>
              </div>
              <!-- / End Contact Details -->
                
              <!-- Contact Form -->
              <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="sendmail.php" role="form">
                
                  <div class="form-group">
                    <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
                  </div>
                  
                  <div class="form-group">
                    <input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
                  </div>
                  
                  <div class="form-group">
                    <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
                  </div>
                  
                  <div class="form-group">
                    <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea> 
                  </div>
                  
                  <div id="mail-success" class="success">
                    Thank you. The Mailman is on His Way :)
                  </div>
                  
                  <div id="mail-fail" class="error">
                    Sorry, don't know what happened. Try later :(
                  </div>
                  
                  <div id="cf-submit">
                    <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                  </div>            
                  
                </form>
              </div>
              <!-- ./End Contact Form -->
            
            </div> <!-- end row -->
          </div> <!-- end container -->
        </section> <!-- end section -->
        
        <!-- end Contact Area
        ========================================== -->
        

        
        <!-- Back to Top
        ============================== -->
        <a href="javascript:;" id="scrollUp">
          <i class="fa fa-angle-up fa-2x"></i>
        </a>

        <%= javascript_include_tag('mn-jquery-1.11.0.min.js') %>
        <%= javascript_include_tag('mn-bootstrap.min.js') %>
        <%= javascript_include_tag('mn-jquery.slitslider.js') %>
        <%= javascript_include_tag('mn-jquery.ba-cond.min.js') %>
        <%= javascript_include_tag('mn-jquery.parallax-1.1.3.js') %>
        <%= javascript_include_tag('mn-owl.carousel.min.js') %>
        <%= javascript_include_tag('mn-jquery.mixitup.min.js') %>
        <%= javascript_include_tag('mn-jquery.nicescroll.min.js') %>
        <%= javascript_include_tag('mn-jquery.appear.js') %>
        <%= javascript_include_tag('mn-easyPieChart.js') %>
        <%= javascript_include_tag('mn-jquery.easing-1.3.pack.js') %>
        <%= javascript_include_tag('mn-tweetie.min.js') %>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <%= javascript_include_tag('mn-jquery.nav.js') %>
        <%= javascript_include_tag('mn-jquery.sticky.js') %>
        <%= javascript_include_tag('mn-jquery.countTo.js') %>
        <%= javascript_include_tag('mn-wow.min.js') %>
        <%= javascript_include_tag('mn-jquery.fitvids.js') %>
        <%= javascript_include_tag('mn-grid.js') %>
        <%= javascript_include_tag('mn-custom.js') %>
  </body>